<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://thymeleaf.org">-->
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<h1>Dashboard</h1>
<p th:text="|Hello there ${user.username}|"></p>

<form method="post" action="/logout">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">Logout</button>
</form>
<body>

</body>
</html>